.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 800px;
  flex-wrap: wrap;
  background: rgba(0, 0, 0);
}

.logo-header {
  font-family: 'Roboto';
  color: #ffffff;
}

.logo-detalhe {
  color: #a0008b;
}

.menu-link {
  font-family: 'Roboto';
  padding: 10px;
  transition: 0.3s;
}

.menu-link:hover {
  color: #b39f9f;
}

#btn-mobile {
  color: white;
  display: none;
}


@media(min-width: 1292px) and (max-width: 1440px) {
  .header {
    gap: 800px;
  }
}

@media(max-width: 1300px) {
  .header {
    gap: 700px;
  }
}

@media(max-width: 1183px) {
  .header {
    gap: 600px;
  }
}

@media(max-width: 1077px) {
  .header {
    gap: 500px;
  }
}

@media(max-width: 983px) {
  .header {
    gap: 400px;
  }
}

@media(max-width: 863px) {
  .header {
    gap: 300px;
  }
}

@media(max-width: 867px) {
  .header {
    gap: 250px;
  }
}

@media(max-width: 718px) {
  .header {
    gap: 100px;
  }
}






@media(max-width: 600px) {
  .header {
    gap: 0px;
    flex-wrap: nowrap;
  }

  #menus {
    position: absolute;
    width: 100%;
    top: 90px;
  }

  #btn-mobile {
    display: block;
  }

  #menu.active #menus {
    display: flex;
  }
}

/* LEMBRAR MENU HAMBURGUER */