/* CSS IMPORT */
@import url(/css/header.css);
/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@700&display=swap');


body,
ul {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
}

a {
  text-decoration: none;
  color: #ffffff;
}